/****** Object:  Database [vishalsqldb01_2026-05-19T11-08Z]    Script Date: 5/20/2026 8:45:17 PM ******/
CREATE DATABASE [vishalsqldb01_2026-05-19T11-08Z]  (EDITION = 'GeneralPurpose', SERVICE_OBJECTIVE = 'GP_S_Gen5_1', MAXSIZE = 250 GB) WITH CATALOG_COLLATION = SQL_Latin1_General_CP1_CI_AS, LEDGER = OFF;
GO
/*** The scripts of database scoped configurations in Azure should be executed inside the target database connection. ***/
GO
-- ALTER DATABASE SCOPED CONFIGURATION SET MAXDOP = 8;
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 5/20/2026 8:45:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[SNo] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[SNo] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([SNo], [Name]) VALUES (1, N'Vishal')
INSERT [dbo].[Employees] ([SNo], [Name]) VALUES (2, N'Vivek')
INSERT [dbo].[Employees] ([SNo], [Name]) VALUES (3, N'Pandiyan')
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
